@using AdminPortal.BusinessServices
@using AdminPortal.Models
@model AdminPortal.Models.LandingPageModel

@{

    ViewBag.Title = "ADMIN PORTAL Landing Page";

}

<div class="jumbotron">
    <h2>ADMIN PORTAL</h2>
    <p class="lead">Admin Portal is a new site, that will replace(or wrap) TSA Admin, Flight Search and other similar functionality, and is used by internal users-service centre, product team etc.</p>
    <br />

    @if (Request.IsAuthenticated)
    {
        foreach (LandingPageTab tab in Model.LandingPageTabs)
        {
            if (tab != null)
            {
                <h2> @tab.Text</h2>

                foreach (LandingPageSection sectionItem in @tab.Sections)
                {
                    <u>@sectionItem.Text</u>
                    <br />
                    foreach (LandingPageSectionMenuItem menuItem in @sectionItem.MenuItems)
                    {
                        @menuItem.Text
                        <br />
                    }

                    <br />
                }
            }
        }

    }


    @*@if (Request.IsAuthenticated)
        {

            if (Model.IsResourceAllowedForUserRole("GoogleBigQuery"))
            {
                <p>@Html.ActionLink("Google BigQuery Itinerary View", "Index", "GoogleBigQueryItinerary")</p>
            }
            if (Model.IsResourceAllowedForUserRole("CreditCardTransactionsToCheck"))
            {
                <p>@Html.ActionLink("Credit Card Transactions To Check", "Index", "UserProfile")</p>
            }
        }*@

    @*@if (Request.IsAuthenticated)
        {

            @foreach (string role in Model.AllowedRolesForResource("GoogleBigQuery"))
            {
                if (User.IsInRole(role))
                {
                    <p>@Html.ActionLink("Google BigQuery Itinerary View", "Index", "GoogleBigQueryItinerary")</p>
                }
            }

            @foreach (string role in Model.AllowedRolesForResource("CreditCardTransactionsToCheck"))
            {
                if (User.IsInRole(role))
                {
                    <p>@Html.ActionLink("Credit Card Transactions To Check", "Index", "UserProfile")</p>
                }
            }
        }*@

    @*@if (User.IsInRole("Admin") || User.IsInRole("Analytics") || User.IsInRole("ServiceCenterManager") || User.IsInRole("ServiceCenter"))
        {
            <p>@Html.ActionLink("Google BigQuery Itinerary View", "Index", "GoogleBigQueryItinerary")</p>
        }*@
    <p><a href="http://local.webjet.com.au/WebjetTsa/secure.aspx" class="btn btn-primary btn-large">Visit existing DEV TSA Admin &raquo;</a></p>
</div>